<div class="container-fluid">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/admin/report-summary/agine" routerLinkActive="active">Agine</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/admin/report-summary/po-summary" routerLinkActive="active">PO Summary</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/admin/report-summary/budgeted-summary" routerLinkActive="active">Budgeted Summary</a>
    </li>
  </ul>
  <router-outlet></router-outlet>

</div>