<div class="container-fluid">
<div class="row">

  <div class="col-xs-12 col-md-12 col-lg-12">

    <div class="card">
      <div class="card-body">

        <div class="table-responsive">

          <table class="table table-striped table-hover">

            <thead class="thead-light">
              <tr>
                <th scope="col">Area</th>
                <th scope="col">Contracted Total</th>
                <th scope="col">Contracted Supply</th>
                <th scope="col">Contracted Implimentation</th>
                <th scope="col">Issued Total </th>
                <th scope="col">Issued Supply</th>
                <th scope="col">Issued Implimentation</th>
                <th scope="col">Remaining Total</th>
                <th scope="col">Remaining Supply</th>
                <th scope="col">Remaining Implimentation</th>
              </tr>
            </thead>
            <tbody>
             
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer"></div>
    </div>

  </div>
</div>
</div>