<div class="container-fluid">
  
  <ul class="nav nav-tabs">
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/home/admin/create" routerLinkActive="active">Create</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home/admin/user-manage" routerLinkActive="active">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home/admin/stages" routerLinkActive="active">Stages</a>
      </li> -->

      <li class="nav-item">
        <a class="nav-link" routerLink="/home/supplier/create-boq" routerLinkActive="active">Create Boq</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home/supplier/approve-reject-boqs" routerLinkActive="active">Approved / Rejected</a>
      </li>
    
      <li class="nav-item">
          <a class="nav-link" routerLink="/home/supplier/boq-list" routerLinkActive="active">Boq List</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
    
</div>