<div class="container-fluid">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/admin/create" routerLinkActive="active">Create</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/admin/stages" routerLinkActive="active">Stages</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/admin/submit-boq" routerLinkActive="active">Contract Boq</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/admin/approve-reject-boqs" routerLinkActive="active">Approved / Rejected</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/admin/user-manage" routerLinkActive="active">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/admin/boq-list" routerLinkActive="active">Boq List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/home/admin/report-summary" routerLinkActive="active">Summary</a>
    </li>
  </ul>
  <router-outlet></router-outlet>

</div>